# Rust / Cargo
/target
**/*.rs.bk
Cargo.lock

# IDE / Editor files
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Password manager app data (don’t commit secrets!)
/data/

# Text files
*.txt